@import '../mixins.scss';

.hero {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__flex {
    display: flex;
    gap: 20px;
  }

  &__big-swiper {
    width: 793px;
    height: 387px;
  }

  &__left-swiper {
    width: 793px;
    height: 387px;
    border-radius: 5px;
    background: var(--gray);
  }

  &__small-swiper {
    width: 387px;
    height: 387px;
  }

  &__right-swiper {
    width: 387px;
    height: 387px;
    border-radius: 5px;
    background: var(--gray);
  }
}

.nav {
  &__container {
    @include container;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
  }
}

.banners {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__swiper {
    height: 126px;
  }
}

.hits {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
  }

  &__swiper {
    margin: 20px 0 0 0;
    height: 199px;
  }

  &__slider {
    width: 133px;
    height: 199px;
  }
}

.stickers {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
  }

  &__swiper {
    margin: 20px 0 0 0;
    height: 199px;
  }

  &__slider {
    width: 133px;
    height: 199px;
  }
}

.key-chains {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
  }

  &__swiper {
    margin: 20px 0 0 0;
    height: 199px;
  }

  &__slider {
    width: 133px;
    height: 199px;
  }
}

.notebooks {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
  }

  &__swiper {
    margin: 20px 0 0 0;
    height: 199px;
  }

  &__slider {
    width: 133px;
    height: 199px;
  }
}

.mugs {
  &__container {
    @include container;
  }

  &__offset {
    padding: 20px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
  }

  &__swiper {
    margin: 20px 0 0 0;
    height: 199px;
  }

  &__slider {
    width: 133px;
    height: 199px;
  }
}

.swiper-button-next {
  right: -20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-color: var(--gray);
  box-shadow: 0px 0px 10px rgba(18, 18, 18, 0.1);
  z-index: 100 !important;
}

.swiper-button-next:after {
  content: '>' !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

.swiper-button-prev {
  left: -20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-color: var(--gray);
  box-shadow: 0px 0px 10px rgba(18, 18, 18, 0.1);
  z-index: 100 !important;
}

.swiper-button-prev:after {
  content: '<' !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  font-family: 'Montserrat', sans-serif !important;
}
