@import '../../styles/mixins.scss';

.header {
  &__container {
    display: flex;
    @include container;

    &_bottom {
      align-items: center;
      gap: 20px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--black);

    &_tel {
      margin-left: auto;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--gray-2);
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 50px;
    border-radius: 5px;
    background: var(--gray);
  }

  &__catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 183px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
    background: var(--gray);
  }

  &__search {
    position: relative;
    border: 1px solid var(--gray);
    border-radius: 5px;

    input {
      padding: 0 13px;
      width: 590px;
      height: 50px;
      background: none;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: var(--white);

      &::placeholder {
        color: var(--gray);
      }
    }

    button {
      position: absolute;
      right: 0;
      width: 102px;
      height: 50px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: var(--white);
      background: var(--gray);
    }
  }

  &__favorite {
    display: flex;
  }

  &__cart {
    position: relative;
    display: flex;

    span {
      position: absolute;
      top: -12px;
      right: -12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: var(--white);
      background: var(--gray);
    }
  }
}
